<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>396183924939-0123456789abcdef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396183924939-0123456789abcdef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>396183924939-0123456789abcdef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmeE-DJmAyFJzpkcf7gaYQ9ddkwe6zdO4</string>
	<key>GCM_SENDER_ID</key>
	<string>396183924939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lunaTest</string>
	<key>PROJECT_ID</key>
	<string>luna-e1ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>luna-e1ad5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396183924939:ios:58c4966025bdbf90872b4e</string>
</dict>
</plist>